#container
  #header
    .sound
      img(alt="sound_off", height="63", src="images/sound2_on.png", width="57")
    .logo
      img.logo-img(alt="logo", height="149", src="images/logo.png", width="236")
    .about
      a(href="about")
        img.fukidashi(alt="fukidashi", height="89", src="images/fukidashi.png", width="95")
      img.obake(alt="obake", height="124", src="images/obake2_anime.gif", width="124")
  #content
    .unibatv
      iframe.ustream(src="http://www.ustream.tv/embed/11533971", width="512", height="295", scrolling="no", frameborder="0", style="border: 0px none transparent;")
      br
      img(alt="unibatv", height="444", src="images/unibatv.png", width="660")
      .label
        img(alt="label", height="100", src="images/label.png", width="100")
      .balloon
        img(alt="twitter", height="495", src="images/makimono.png", width="244")
    .remote
      .commands
        ul
          li
            img.how_to_play(alt="how_to_play", height="21", src="images/how_to_play.png", width="162")
          li
            img.command(alt="icon-up", height="27", src="images/icon_up.png", width="50")
            img(alt="go_ahead", height="16", src="images/go_ahead.png", width="80")
          li
            img.command(alt="icon-down", height="27", src="images/icon_down.png", width="50")
            img(alt="go_back", height="16", src="images/go_back.png", width="96")
          li
            img.command(alt="icon-left", height="27", src="images/icon_left.png", width="50")
            img(alt="look_left", height="16", src="images/look_left.png", width="64")
          li
            img.command(alt="icon-right", height="27", src="images/icon_right.png", width="50")
            img(alt="look_right", height="16", src="images/look_right.png", width="64")
      .controler
        img(alt="controler", height="293", src="images/controler01.png", width="319")
      .links
        a(href="http://uniba.jp/", target="_blank")
          img(alt="banner1", height="48", src="images/unibainc_banner.gif", width="388")
        img(alt="banner2", height="48", src="images/bbs_banner.gif", width="214")
    .afxtwin
      img(alt="afxtwin", height="354", src="images/afx.png", width="184")
  #footer
    .counter
      p あなたは人目の生け贄です
    .published_at
      img(alt="copyright2", height="56", src="images/copyright2.png", width="437")