#container
  #header
    .sound.pause
      img(alt="sound_off", height="63", src="images/sound2_on.png", width="57")
    .fire
      img(alt="fire", height="100", src="images/fire_anime.gif", width="100")
    .secret
      a(href="secret")
        img(alt="secret", height="74", src="images/maruhi.gif", width="74")
    .fire2
      img(alt="fire", height="100", src="images/fire_anime.gif", width="100")
    .logo
      a(href="console")
        img.logo-img(alt="logo", height="149", src="images/logo.png", width="236")
    .obake
      a(href="about")
        img(alt="obake", height="124", src="images/obake2_anime.gif", width="124")
    .fukidashi
      a(href="about")
        img.fukidashi(alt="fukidashi", height="89", src="images/fukidashi.png", width="95")
    .marq
      marquee ユニバハウスは、ブラウザ上で楽しめる最新型のお化け屋敷だよ。どうぞ楽しんでってね。ユニバハウスは、ブラウザ上で楽しめる最新型のお化け屋敷だよ。どうぞ楽しんでってね。ユニバハウスは、ブラウザ上で楽しめる最新型のお化け屋敷だよ。どうぞ楽しんでってね。ユニバハウスは、ブラウザ上で楽しめる最新型のお化け屋敷だよ。どうぞ楽しんでってね。ユニバハウスは、ブラウザ上で楽しめる最新型のお化け屋敷だよ。どうぞ楽しんでってね。ユニバハウスは、ブラウザ上で楽しめる最新型のお化け屋敷だよ。どうぞ楽しんでってね。

  #content
    .unibatv
      iframe.ustream(src="http://www.ustream.tv/embed/11533971", width="512", height="295", scrolling="no", frameborder="0", style="border: 0px none transparent;")
      br
      img(alt="unibatv", height="444", src="images/unibatv.png", width="660")
      .balloon
        img(alt="twitter", height="495", src="images/makimono.png", width="244")
    .remote
      .commands
        img.how_to_play(alt="how_to_play", height="273", src="images/how_to_play.png", width="206")
      .control
        .l01
          a.left(href="javascript:void(0);", rel="controller")
            img(alt="controler", height="70", src="images/btn/l01.png", width="70")
        .f01
          a.forward(href="javascript:void(0);", rel="controller")
            img(alt="controler", height="70", src="images/btn/f01.png", width="70")
        .b01
          a.back(href="javascript:void(0);", rel="controller")
            img(alt="controler", height="70", src="images/btn/b01.png", width="70")
        .r01
          a.right(href="javascript:void(0);", rel="controller")
            img(alt="controler", height="70", src="images/btn/r01.png", width="70")
      .controler
        img(alt="controler", height="646", src="images/controler_long.png", width="299")
      .links
        a(href="http://uniba.jp/", target="_blank")
          img(alt="banner1", height="48", src="images/unibainc_banner.gif", width="388")
        a(href='http://8258.teacup.com/house/bbs', target='_blank')
          img(alt="banner2", height="48", src="images/bbs_banner.gif", width="214")
    .minikun
      img.minikun(alt="minikun", height="113", src="images/minikun.png", width="128")
    .akumakun
      img.akumakun(alt="akumakun", height="281", src="images/akumakun.png", width="289")
  #footer
    .counter
      p あなたは人目の生け贄です
    .published_at
      img(alt="copyright2", height="56", src="images/copyright2.png", width="437")

script(src='/javascripts/app.js')
