#container
  #header
    .sound
      img(alt="sound_off", height="63", src="images/sound2_on.png", width="57")
    .logo
      img.logo-img(alt="logo", height="149", src="images/logo.png", width="236")
    .about
      a(href="about")
        img.obake(alt="obake", height="124", src="images/obake2_anime.gif", width="124")
    .fukidashi
      a(href="about")
        img.fukidashi(alt="fukidashi", height="89", src="images/fukidashi.png", width="95")

  #content
    .unibatv
      iframe.ustream(src="http://www.ustream.tv/embed/11533971", width="512", height="295", scrolling="no", frameborder="0", style="border: 0px none transparent;")
      br
      img(alt="unibatv", height="444", src="images/unibatv.png", width="660")
      .balloon
        img(alt="twitter", height="495", src="images/makimono.png", width="244")
    .remote
      .commands
        img.how_to_play(alt="how_to_play", height="273", src="images/how_to_play.png", width="206")
      .controler
        img(alt="controler", height="293", src="images/controler01.png", width="319")
      .links
        a(href="http://uniba.jp/", target="_blank")
          img(alt="banner1", height="48", src="images/unibainc_banner.gif", width="388")
        a(href='http://8258.teacup.com/house/bbs', target='_blank')
          img(alt="banner2", height="48", src="images/bbs_banner.gif", width="214")
    .minikun
      img(alt="minikun", height="113", src="images/minikun.png", width="128")
    .akumakun
      img(alt="akumakun", height="281", src="images/akumakun.png", width="289")
  #footer
    .counter
      p あなたは人目の生け贄です
    .published_at
      img(alt="copyright2", height="56", src="images/copyright2.png", width="437")

script(src='/javascripts/app.js')
