#container
  #header
    .sound
      img(alt="sound_off", height="120", src="images/sound_off.png", width="79")
    .logo
      img.logo-img(alt="logo", height="149", src="images/logo.png", width="236")
    .counter
      p あなたは人目の生け贄です。
  #content
    .unibatv
      img(alt="unibatv", height="444", src="images/unibatv.png", width="660")
      .label
        img(alt="label", height="100", src="images/label.png", width="100")
      .balloon
        img(alt="twitter", height="503", src="images/balloon.png", width="230")
    .remote
      .commands
        ul
          li
            img.how_to_play(alt="how_to_play", height="21", src="images/how_to_play.png", width="162")
          li
            img.command(alt="icon-up", height="27", src="images/icon_up.png", width="50")
            img(alt="go_ahead", height="16", src="images/go_ahead.png", width="80")
          li
            img.command(alt="icon-down", height="27", src="images/icon_down.png", width="50")
            img(alt="go_back", height="16", src="images/go_back.png", width="96")
          li
            img.command(alt="icon-left", height="27", src="images/icon_left.png", width="50")
            img(alt="look_left", height="16", src="images/look_left.png", width="64")
          li
            img.command(alt="icon-right", height="27", src="images/icon_right.png", width="50")
            img(alt="look_right", height="16", src="images/look_right.png", width="64")
      .controler
        img(alt="controler", height="137", src="images/controler.png", width="307")
      .links
        img(alt="banner1", height="48", src="images/banner1.png", width="388")
        img(alt="banner2", height="48", src="images/banner2.png", width="214")
    .afxtwin
      img(alt="afxtwin", height="443", src="images/afxtwin.png", width="229")
  #footer
    .contact
      a(href="")
        img(alt="contact", height="60", src="images/contact.png", width="289")
    .published_at
      img(alt="copyright2", height="56", src="images/copyright2.png", width="437")