#container
  #content
    #end
      img(alt="end", height="310", src="images/end.png", width="514")
    #movie
     <iframe width="800" height="450" src="http://www.youtube.com/embed/o1HmBS_tDQE?rel=0&" frameborder="0" allowfullscreen></iframe>
    #concept
      p
        | ユニバの総力で制作された、次世代型インタラクティブお化け屋敷「ユニバハウス」。
        br
        | 8月5日〜7日の限定公開でしたが、みなさまお楽しみ頂けたでしょうか。
      p
        | 企画の内容は、ユニバ社屋の特設ステージに恐怖ガジェットを散りばめ、
        br
        | 同じく設置された移動式カメラをネット越しにコントロールすることで、
        br
        | オフラインとオンラインを跨いだお化け屋敷体験ができる、というもの。
      p
        | 公開終了と同時に、ちょっとしたメイキング映像を公開しました。
        br
        | どのようにユニバハウスが作られたのか、その全貌を覗いてみてね。