#container
  #header
    .link_to_about
      img.obake(alt="obake", height="180", src="images/obake1_anime.gif", width="180")
      a.about-balloon(href="/about")
        img(alt="about", height="122", src="images/about.png", width="133")
    .logo
      img.logo-img(alt="top_logo", height="366", src="images/top_logo.png", width="580")
  #content
    ul
      li.login
        img(alt="login", height="18", src="images/login.png", width="76")
      li
        a(href="/auth/facebook")
          img(alt="facebook", height="39", src="images/facebook.png", width="129")
      li
        a(href="")
          img(alt="other", height="39", src="images/other.png", width="129")
    img(alt="copyright", height="53", src="images/copyright.png", width="225")
  #footer
    .counter
      p あなたは人目の生け贄です
    .published_at
      img(alt="copyright2", height="56", src="images/copyright2.png", width="437")