#container
  #header
    .link_to_about
      a.obake(href="/about")
        img(alt="obake", height="180", src="images/obake1_anime.gif", width="180")
      a.about-balloon(href="/about")
        img(alt="about", height="122", src="images/about.png", width="133")
    .logo
      img.logo-img(alt="top_logo", height="366", src="images/top_logo.png", width="580")
  #content
    .login
      img(alt="login", height="18", src="images/login.png", width="76")
    ul
      li
        a(href="http://summer2012.jhaus.uniba.jp:3000/auth/facebook")
          img(alt="facebook", height="39", src="images/facebook.png", width="129")
      li
        a(href='http://summer2012.jhaus.uniba.jp:3000/auth/twitter') 
          img(alt="facebook", height="39", src="images/twitter.png", width="129")
      li
        a(href="http://summer2012.jhaus.uniba.jp:3000/console")
          img(alt="none", height="39", src="images/none.png", width="129")
    .suikakun
      img(alt="suikakun", height="117", src="images/suikakun.png", width="91")
    .support
      img(alt="copyright", height="53", src="images/copyright.png", width="260")
  #footer
    .counter
      p
      あなたは
      img(src='http://scnt.sekkaku.net/cnt.cgi?id=S1344139502&script=no&guid=on&tool=10')
      人目の生け贄です
    .published_at
      img(alt="copyright2", height="56", src="images/copyright2.png", width="437")

script(src='/javascripts/app.js')
