#container
  #header
    .link_to_about
      img.obake(alt="obake", height="180", src="images/obake1_anime.gif", width="180")
      a.about-balloon(href="/about")
      img(alt="about", height="122", src="images/about.png", width="133")
    .logo
      img.logo-img(alt="top_logo", height="366", src="images/top_logo.png", width="580")
  #content
  	.login
  		img(alt="login", height="18", src="images/login.png", width="76")
    ul
      li
        a(href="http://summer2012.jhaus.uniba.jp:3000/auth/facebook")
        img(alt="facebook", height="39", src="images/facebook.png", width="129")
      li
        a(href='http://summer2012.jhaus.uniba.jp:3000/auth/twitter') 
        img(alt="facebook", height="39", src="images/twitter.png", width="129")
      li
      	a(href="http://summer2012.jhaus.uniba.jp:3000/console")
        img(alt="other", height="39", src="images/other.png", width="129")
     img(alt="suikakun", height="117", src="images/suikakun.png", width="91")
     img(alt="copyright", height="53", src="images/copyright.png", width="225")
  #footer
    .counter
      p あなたは人目の生け贄です
    .published_at
    	img(alt="copyright2", height="56", src="images/copyright2.png", width="437")

script(src='/javascripts/app.js')
