!!!
html
  head
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    base(href="http://summer2012.jhaus.uniba.jp:3000")
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.7.2.min.js')
  body(id=action)!= body
