#container
  #header
    .back_to_top
      .mataro
        a(href="console")
          img(alt="dead_mataro", height="174", src="images/dead_mataro_anime.gif", width="188")
      a.top-balloon(href="/console")
        img(alt="back_to_top", height="78", src="images/back_to_top.png", width="132")
    .logo
      a(href="console")
        img.logo(alt="logo", height="149", src="images/logo.png", width="236")
  #content
    .unibatv
      iframe.ustream(src="http://www.ustream.tv/embed/11533973", width="512", height="295", scrolling="no", frameborder="0", style="border: 0px none transparent;")
      bre
      img.unibatv(alt="unibatv", height="442", src="images/unibatv.png", width="660")
      
    .jigokusan
      img.obake(alt="obake", height="725", src="images/jigokusan01.png", width="465")
  #footer
    .counter
      p あなたは人目の生け贄です
    .published_at
      img(alt="copyright2", height="56", src="images/copyright2.png", width="437")

script(src='/javascripts/app.js')