@import 'nib'

body
  color: #fff
  background-color #000
  margin 0
  padding 0

ul
  list-style-type none
  padding 0

.deadee-sepia
  opacity: 0
  vendor(filter, sepia(100%))

.deadee-monochrome
  opacity: 0
  vendor(filter, grayscale(100%))

.spirits
  text-align: center
  position: absolute
  z-index: 10000
  animation-name: spirits-animation
  animation-direction: alternate
  animation-iteration-count: infinite
  animation-duration: 1s
  transition-property: top left
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000)
  transition-duration: 1000ms
  .avatar
    position: relative
    z-index: 10001
    bottom: 0

@keyframes spirits-animation
  from
    transform: translateY(-4px)
    opacity: 0.6
  to
    transform: translateY(0px)
    opacity: 0.3

#footer
  margin-bottom 100px
  text-align center
  margin-top 8px

.counter
  margin-bottom 36px

  p 
    color #FFF 

#container
  position relative
  margin 0 auto
  width 960px

#index
  #header
    margin-top 0

  .logo
    position absolute
    text-align center
    margin-top 150px
    margin-left 179px

  .obake
    position absolute
    top 90px
    left 660px
    z-index -1

  .about-balloon
    position absolute
    top 30px
    left 779px
    
  .login
    margin-bottom 30px

  ul
    margin-bottom 50px

    li
      margin-bottom 22px
      margin-right 20px
      display inline-block

    li.login
      margin-bottom 33px

  #content
    margin-bottom 50px
    padding-top 553px
    text-align center
  
  .suikakun
    text-align center
    margin-bottom 35px
    
  .support
    clear-both

#about
  #header
    margin-top 50px

  .logo
    text-align center

  .mataro
    position absolute
    left 0px
    top -90px

  .top-balloon
    position absolute
    left 130px
    top 50px

  #content
    margin-bottom 430px
    margin-top 100px

  .description
    color #E80019
    line-height 40px
    text-align center

  .icon
    text-align right

  .obake 
    margin-right 50px
    margin-top 30px

#console
  #header
  
    .sound
      position absolute
      top 40px
      
    .secret
      position absolute
      top 30px
      margin-left 125px
      
    .fire
      position absolute
      top 10px
      margin-left 245px
    
    .fire2
      position absolute
      top 10px
      margin-left 610px

    .logo
      margin-top 40px
      margin-left 355px

    .obake
      position absolute
      top 30px
      left 840px
      z-index -1
    
    .fukidashi
      position absolute
      left 380px
      top 0px
      
    .marq
      color #00d700
      margin-top 20px

  #content
    position relative
    margin-top 30px

    .label
      left -32px
      position absolute
      top -22px

    .balloon
      float right
      margin-left 56px

    .ustream
      position absolute
      left 72px
      top 100px

    .commands
      float left

    .links
      clear both

    .remote
      float left
      margin-bottom 70px

    .commands
      margin-bottom 44px
      margin-top 44px
      
    .control
      margin-left 244px
      position relative
      
      .l01
        position absolute
        top 170px
        left 70px
      .f01
        position absolute
        top 80px
        left 155px
      .b01
        position absolute
        top 250px
        left 155px
      .r01
        position absolute
        top 170px
        left 240px

    .controler
      position absolute
      margin-left 230px
      margin-top -10px
      z-index -1
      
    .minikun
      margin-left 80px

    .akumakun
      margin-left 240px
      margin-top -10px
      z-index -1

    .links img
      display block
      margin-bottom 26px

  #footer
    clear both
    padding-top 80px

#secret
  #header
    margin-top 50px

  .logo
    text-align center

  .mataro
    position absolute
    left 0px
    top -90px

  .top-balloon
    position absolute
    left 130px
    top 50px

  #content
    margin-bottom 100px
    margin-top 100px
  
  .ustream
    position absolute
    left 232px
    top 330px
    

  .unibatv
    margin-left 80px

  .jigokusan
    text-align left
    margin-left 250px
    margin-top 50px

